[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "==4.36.2"
tflite-runtime = "==2.14.0"
numpy = "==1.24.3"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
